body {
  background-color: #fafafa;
  font-family: 'Work Sans', sans-serif;
  max-width: 960px;
  margin: 0 auto;
}

header {
  margin-top: 3em;
  margin-bottom: 2em;
  display: flex;
  width: 100%;
  flex-direction: column;
}

header > span {
  align-self: flex-end;
}

.big {
  font-size: 150%;
}

.invert {
  display: inline-block;
  padding: .5em 1em;
  margin-bottom: .5em;
  background: #000;
  color: #fafafa;
}

.counter {
	counter-reset: counter;
}

section {
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: minmax(3rem, auto) 2fr;
  margin-bottom: 4rem;
}

section .number {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
section .number b {
  border-bottom: 3px solid black;
  font-weight: 900;
}

section .body {
  margin-top: .5em;
  grid-column-start: 2;
}

h1, h4, p {
  margin: 0;
}
h3 span { float: right; }
h4 span { float: right; }

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  opacity: .8;
}

li:before {
  content: "●";
  margin-right: .1em;
}
