body {
  font-family: "Source Code Pro";
  text-align: center;
  color: #F8D09C;
  background-color: #F6623E;
}

h1 {
  text-transform:uppercase;
  font-size: 5em;
  margin: 0.5em 0 0 0;
}

p {
  font-family: 'Neuton', 'Georgia', serif;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 1.5em;
}

.nav {
  list-style:none;
  padding-left: 0;
}

.nav > li {
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 40px;
  font-size: 2em;
}

a {
  color: #2D3035;
  text-decoration: none;
  border-bottom: 2px solid #2D3035;
}

a:hover {
  border-bottom: 2px solid #963F35;
}
