body {
  background-color: #F5F6FB;
  font-family: 'Karla', sans-serif;
  text-align: center;
  font-size: 1.2em;
  margin-top: 4em;
}

h1 {
  font-size: 2.3em;
  color: #444D84;
  margin-bottom: 0.2em;
}

p {
  color: #6E6E6C;
  margin-top: 0;
}

.nav {
  list-style:none;
  padding-left: 0;
}

.nav > li {
  display: inline-block;
  margin: 0 10px 10px 0;
}

a {
  color: #918AA9;
  text-decoration: none;
}

a:hover {
  color: #444D84;
  border-bottom: 1px solid #333C67;
}

@media only screen and (max-width : 800px) {
  body {
    margin-top: 0;
  }
}

@media only screen and (max-width : 250px) {
  body {
    font-size: 1em;
    text-align: left;
    margin-top: 0;
  }
  .nav > li {
    display: block;
    font-weight: 700;
  }
}
