body {
  background-color: #FFF;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 25px;
  margin-top: 4em;
}

h1 {
  font-size: 2.3em;
  color: #ff4f4e;
  margin-bottom: 0.2em;
}

p {
  color: #515151;
  margin-top: 0;
  font-family: "Crimson Text", serif;
}

.nav {
  list-style:none;
  padding-left: 0;
}

.nav > li {
  display: inline-block;
  margin: 0 10px 10px 0;
}

a {
  color: #333;
  text-decoration: none;
  
}

a:hover {
  border-bottom: 3px solid #ff4f4e;
}

@media only screen and (max-width : 800px) {
  body {
    margin-top: 0;
  }
}

@media only screen and (max-width : 250px) {
  body {
    font-size: 1em;
    text-align: left;
    margin-top: 0;
  }
  .nav > li {
    display: block;
    font-weight: 700;
  }
}
