

/*  COLORS  */

$color-back: #ECECE7;
$color-back2: #fff;

$color-base: #556270;

$color-banner: #f0dace;
$color-banner-text: #fff;
$color-banner-link: #fff;

$color-text: #383430;
$color-title: #313842;
$color-link: #404955;

//TESTING


/*  Fonts  */


.wrapper {
  margin: 40px auto;
  width: 960px;
}



.main {

  a:link, a:visited, a:active {color: #4a87cb; text-decoration:none;}
  a:hover {color: #7e9cbc;}

  background-color: #fff;
  color: #404955;
  min-height: 100px;
  height: 100%;
  padding-top:1px;


}



.paginator {
  min-height: 70px;
  background-color: $corzinha1;
  ul {
    text-align: center;
    list-style-type:none;
    margin:0;
    padding:0;
    li {
      margin: 10px;
      display:inline-block;
      a:link, a:visited, a:hover, a:active {color:$colorBack;}
      font-size: 40px;
      font-weight: 600
    }
  }
}

.content{
  font-family:"open sans", sans-serif;
  font-weight: 400;
  margin: 40px 10px 20px 10px;
  p {margin: 25px 0 28px;}
  h1 {font-size: 1.7em;} //You cant be the same size of the title of the post. sorry friend.
  a:link, a:visited, a:active {color: #4a87cb; text-decoration:none;}
  a:hover {color: #7e9cbc;}
}

.title {
  font: 700 "open sans", sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px; 
  a:link, a:visited, a:hover, a:active {color:$color-title;text-decoration:none;}  
}

ul.nextprev{text-align:left;}
li.right {
  float: right;
}

.prev-post,.next-post {
  height: 70px;
  margin: 0 50px;
  font-weight: 600;
  font-size:20px;
  line-height: 70px;  a:link, a:visited, a:active {color:$color-back; text-decoration:none;}
  a:hover {color:$color-back2; text-decoration:none;}
}

.prev-post { float: left;} .next-post { float: right; }

.active {
  //text-decoration: underline !important;
}

.archive {
  li {
    margin-left: 50px;
  }
}


//ABOUT THINGS
.face {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  img {
    border-radius: 100px;
  }
}


@media (max-width: 450px) { 
  .prev-post,.next-post {
    margin: 0 10px;
  }
  .name {
    padding:10px 10px 50px 10px !important;
  }
}

@media (max-width: 310px) { 
  .prev-post,.next-post {
    float: none;
    text-align: center;
  }
  .name {
    font-size: 30px !important;
  }
}