body {
  margin: 0;
  color: #fff;
}


.large-header {
  position: relative;
  width: 100%;
  background: #232323;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #f9f1e9;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

nav {
  position: absolute;
  z-index: 1;
  color: #ea2e2d;
}
