---
layout: default
---
<div class="main-content">
<article class="post">
  <hr class="title-line">
  <h1 class="title kilo"><a href="{{ post.url }}">{{ page.title }}</a></h1>
  <p class="date"><span>Posted on {{ page.date | date: "%B %d, %Y" }}</span></p>
  <hr class="title-line">
  <div class="content">{{content}}</div>
</article>
{% if page.comments %}
<div id="disqus_thread"></div>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}
</div>
<div class="paginator row">
  
  <div class="prev-post delta col6">
  {% if page.next%}
    <p class="center"><strong><a href="{{ page.next.url }}">« Next post</a></strong></p>
  {% endif %}
  </div>
  
  
  <div class="next-post delta col6">
  {% if page.previous%}
    <p class="center"><strong><a href="{{ page.previous.url }}"> Previous post »</a></strong><p>
  {% endif %}
  </div>
  
</div>
<script type="text/javascript">
  var disqus_shortname = 'campinhos';
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>