---
layout: default
---
<div class="main-content">
<article class="post">
  <h1 class="title"><a href="{{ post.url }}">{{ page.title }}</a></h1>
  <p class="date"><span>Posted on {{ page.date | date: "%B %d, %Y" }}</span></p>
  <hr class="title-line">
  <div class="content">{{content}}</div>
</article>
</div>
<div class="paginator">
  {% if page.next%}
  <div class="prev-post">
    <a href="{{ page.next.url }}">« Next post</a>
  </div>
  {% endif %}
  {% if page.previous%}
  <div class="next-post">
    <a href="{{ page.previous.url }}"> Previous post »</a>
  </div>
  {% endif %}
</div>